# PR Review Comment Info

- PR title

{{title}}

- PR create user

{{create_user}}

- reviewer

{{reviewer}}

- file path

{{file_path}}

- diff
```
{{diff_hunk}}
```
- review comment

{{comment}}

- review comment url

{{review_comment_url}}
